build/*
ext/CMakeFiles
ext/CMakeCache.txt
ext/cmake_install.cmake
ext/Makefile
ext/src/cmake_install.cmake
ext/src/Makefile
ext/src/*.rbind
ext/src/*.h
ext/src/*.hpp
ext/src/*.cc
ext/src/*.pc
ext/src/CMakeFiles
lib/ropencv/ropencv.rb
lib/ropencv/ropencv_types.rb
*.gem
doc/*
*.o
*.swp
*.so
*.dylib
include
